<app-blog-post *ngFor="let item of blogPosts" [post]="item"></app-blog-post>


<form id="formPost" (ngSubmit)="onSubmit()">
  <div class="form page-container">
    <h1> Adicionar novo post</h1>
    <input type="text" name="titulo" [(ngModel)]="titulo" placeholder="Titulo">
    <input type="text-area" name="texto" [(ngModel)]="texto" placeholder="Descrição">
    <input type="text" name="imagem" [(ngModel)]="imagem" placeholder="Image Url">
    <button type="submit">Enviar</button>
  </div>

</form>
